<div class='drag_wrapper'>
  <h2>Finalize Your Trip</h2>

  <p>Welcome: {{trips.user}}</p>
  <p>Your Current Trip: {{trips.name}}</p>
</div>

<!-- <div id="mysort1" >
{{# each trips.activities}}
<div class="mylist">
<image src={{this.icon}}>
<p>{{this.place_name}}</p>
<p>{{this.address}}</p>
<p>{{this.rating}}</p>
<p style="display: none" class="id"> {{this.placeid}} </p>
</div>
{{/each}}
</div> -->

<!-- <ul id="mysort1" >
{{# each trips.activities}}
<div class="mylist">
<image src={{this.icon}}>
<li>{{this.place_name}}
{{this.address}}
{{this.rating}}</li>
<li style="display: none" class="id"> {{this.placeid}} </li>
{{/each}}
</ul> -->



<!-- <div class="days">
<ul id='mysort2'>
<h3>Day 1</h3><button id='mysort2'class="day_map">View on Map</button>

</ul>

<ul id='mysort3'>
<h3>Day 2</h3><button id='mysort3' class="day_map">View on Map</button>
</ul>

<ul id='mysort4'>
<h3>Day 3</h3><button id='mysort4' class="day_map">View on Map</button>
</ul>
<ul id='mysort5'>
<h3>Day 4</h3><button id='mysort5'class="day_map">View on Map</button>
</ul>

</div> -->

<div class="drag_drop" id="tbd">
  <div class="section-header">
    <div class="description" style="background: lightgray">Drag and drop items within and between lists.</div>
  </div>
  <div class="content">

    <div class='drag_wrapper'>
      <div id="drag_lists">

        <div class="column left first">

          <ul class="sortable_list">
            <h2>Saved Venues</h2>
            {{# each trips.activities}}
            <li class="sortable_item"><image src={{this.icon}}><br>{{this.place_name}}<br>{{this.address}}<br>Rating: {{this.rating}}</li>
              {{/each}}
            </ul>

          </div>

          <div class="column left" id="left">
            <ul class="sortable_list">
              <h2>Day 1</h2>
            </ul>
            <br>
            <ul class="sortable_list">
              <h2>Day 3</h2>
            </ul>
            <br>
          </div>

          <div class="column left" id="right">

            <ul class="sortable_list">
              <h2>Day 2</h2>
            </ul>
            <br>
            <ul class="sortable_list">
              <h2>Day 4</h2>
            </ul>


          </div>




<a id="new_day" href=''>add new day</a>
<button id="map_view">view on map</button>

<div id="map-canvas" style='visibility: hidden'></div>

<script type="text/javascript">
document.getElementById("map_view").addEventListener("click", function(e){
  document.querySelector("#map-canvas").style.visibility = ""
})
var day_counter = 5
var sort_coutner = 6
document.getElementById("new_day").addEventListener("click", function(e){
  e.preventDefault()
  var ul = document.createElement("ul")
  // ul.id = "sortable_list" + sort_coutner
  ul.setAttribute("class", "sortable_list ui-sortable")
  var h = document.createElement("h2")
  h.innerHTML = "Day " + day_counter
  ul.appendChild(h)
  var button = document.createElement("button")
  button.innerHTML = 'View on Map'
  button.id = "mysort" + sort_coutner
  // ul.setAttribute("class", "day_map")
  ul.appendChild(button)
  var element = document.querySelector("#left")
  element.appendChild(ul)
  day_counter = day_counter + 1
  sort_coutner = sort_coutner + 1
})

var day_map = document.querySelectorAll(".day_map")


function addListener (array){
  for(var i = 0; i < array.length; i++){
    array[i].addEventListener('click', function(){
      alert("click")
    })
  }
}
addListener(day_map)

$(function () {
   $( "#mysort1, #mysort2, #mysort3, #mysort4, #mysort5, #mysort6, #mysort7, #mysort8, #mysort9").sortable({
      connectWith: "#mysort1, #mysort2, #mysort3, #mysort4, #mysort5, #mysort6, #mysort7, #mysort8, #mysort9"
   });
  //  $( "#mysort3").sortable({
  //     connectWith: "#mysort2",
  //     dropOnEmpty: false
  //  });
});

var map
var infowindow
var markers = []
var windows = []

function initialize() {
  geocoder = new google.maps.Geocoder()

  var tokyo = new google.maps.LatLng(35.670479, 139.740921);
  map = new google.maps.Map(document.getElementById('map-canvas'), {
    center: tokyo,
    zoom: 14
  });


  var request = {
    location: tokyo,
    radius: 1000,
    keyword: "Best Ramen"
  };
  infowindow = new google.maps.InfoWindow();
  var service = new google.maps.places.PlacesService(map);
  service.nearbySearch(request, callback);
}

function callback(results, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    for (var i = 0; i < results.length; i++) {
      createMarker(results[i]);
    }
  }
}

function clearMarkers(){
  if(markers){
    for (i in markers){
        markers[i].setMap(null)

    }
    markers = []
    windows = []
  }
}

function clearWindows() {
    if (windows) {
        for (i in windows) {
            if (windows[i].getMap()) {
                windows[i].close();
            }
        }
    }
}

function createMarker(place) {
  // var placeLoc = place.geometry.location;
  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location,
    title: place.name,
    rating: place.rating
  });

  markers.push(marker);


var infowindow = new google.maps.InfoWindow({
	content: '<img src="' + place.icon + '" /><font style="color:#000;">' + place.name +
	'<br />Rating: ' + place.rating + '<br />Vicinity: ' + place.vicinity + '</font>' + "<div id='add'><a href=#>Add to my trip</a></div>"
	    })

  var activity_data = { place_name: place.name,
               rating: place.rating,
               icon: place.icon,
               address: place.vicinity,
               placeid: place.place_id }


  google.maps.event.addListener(infowindow, 'domready', function() {
      var current_id = document.getElementById("current_trip_id").innerHTML
      document.getElementById("add").addEventListener("click", function(e) {
        $.ajax({
          type: 'PUT',
          data: {data: activity_data, id: current_id},
          dataType: 'json',
          url: "/activities"
        }).done(function(response){
          console.log("ajaxed", response)
        }).fail(function(){
          console.log("failed to save")
        })
      })
  })
  google.maps.event.addListener(marker, 'click', function() {
    // infowindow.setContent(place.name);
    clearWindows();
    infowindow.open(map, this)
  })
  windows.push(infowindow)
}

function findAddress(){
  var address = document.querySelector("#gmap_where").value
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var addrLocation = results[0].geometry.location;
      map.setCenter(addrLocation);

      document.getElementById('lat').value = results[0].geometry.location.lat()
      document.getElementById('lng').value = results[0].geometry.location.lng()

      var addrMarker = new google.maps.Marker({
                position: addrLocation,
                map: map,
                title: results[0].formatted_address
    })
  }
})
}

function findPlaces() {

	    // prepare variables (filter)
	    // var type = document.getElementById('gmap_type').value;
	    // var radius = document.getElementById('gmap_radius').value;
	    var keyword = document.getElementById('gmap_keyword').value;

	    var lat = document.getElementById('lat').value;
	    var lng = document.getElementById('lng').value;
      var cur_location = new google.maps.LatLng(lat, lng);

	    // prepare request to Places
	    var request = {
          key: "AIzaSyBfu9hLoL5W9W3FnppbyA_80t_Jc0L9uWw",
	        location: cur_location,
	        radius: 5000,
	        keyword: [keyword]
	    };
    // if (keyword) {
    //     request.keyword = [keyword];
	  //   }

	    // send request
	    service = new google.maps.places.PlacesService(map);
	    service.search(request, createMarkers);
}
function createMarkers(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {

        // if we have found something - clear map (overlays)
        clearMarkers()

        // and create new markers by search result
      for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
        }
    } else if (status == google.maps.places.PlacesServiceStatus.ZERO_RESULTS) {
        alert('Sorry, nothing is found');
    }
}


var day_map = document.querySelectorAll(".day_map")


function addListener (array){
  for(var i = 0; i < array.length; i++){
    array[i].addEventListener('click', function(){
      alert("click")
    })
  }
}
addListener(day_map)


google.maps.event.addDomListener(window, 'load', initialize);

</script>
<script type="text/javascript">

$(document).ready(function(){


	$('#drag_lists .sortable_list').sortable({
		connectWith: '#drag_lists .sortable_list'
	})

})

</script>
